<!-- templates/base.html -->
<!-- Any Code that will be present on all pages needs to be put here -->
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
<header id="logo" class="navbar navbar-fixed-top navbar-inverse">


    <div class="container">

        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Scores</a></li> <!-- This will need to be implemented later -->
                {% if user.is_authenticated %}
                    <li>Welcome {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">login</a></li>
                    <li><a href="{% url 'signup' %}">signup</a></li>
                {% endif %}
            </ul>
        </nav>
        <!--{% if user.is_authenticated %}-->
          <!--<h1>Welcome {{ user.username }}!</h1>-->
          <!--<p><a href="{% url 'logout' %}">logout</a></p>-->
        <!--{% else %}-->
          <!--<p>You are not logged in</p>-->
          <!--<a href="{% url 'login' %}">login</a> |-->
          <!--<a href="{% url 'signup' %}">signup</a>-->
        <!--{% endif %}-->

    </div>
</header>



    <header>
        <h1>
        This is the Header
        </h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer"> <small>
    The Cyber Security Training Application
    by NRich </small>
    <nav><ul>
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">signup</a></li>
            <li>Contact</li>
            <li>Help</li>
    </ul> </nav>
    </footer>

</body>
</html>