<!-- templates/base.html -->
<!-- Any Code that will be present on all pages needs to be put here -->
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
<header id="logo" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        {% if user.is_authenticated %}
          <h1>Welcome {{ user.username }}!</h1>
          <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">login</a> |
          <a href="{% url 'signup' %}">signup</a>
        {% endif %}

    </div>
</header>

    <header>
        <h1>
        This is the Header
        </h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h3>This is the footer</h3>
    </footer>

</body>
</html>