<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  Your email is {{ user.email }}  <!-- This is the correct email, and shows access to the database -->
  and your password is {{ user.password }}  <!-- This is encrypted but shows access to the database -->
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
  <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">Tesiting</a>
{% endblock %}