<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %} <!-- Anything inside blck content can be edited -->
{% if user.is_authenticated %}
<!-- The users personal information needs to be worked on here -->
  <h1>Hi {{ user.username }}!</h1>
  Your email is {{ user.email }}  <!-- This is the correct email, and shows access to the database -->
  and your score is {{ user.profile.score }}  <!-- This is encrypted but shows access to the database -->
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<!-- Below this line is done and looks good -->
<div class="home_main">
  <div class="home_cent">
<a class="login1" href="{% url 'login' %}">login</a> <span class="span_line">/</span>
<a class="signup" href="{% url 'signup' %}">signup</a>
</div>
</div>
{% endif %}
  <!-- <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">Tesiting</a> -->

{% endblock %}