<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %} <!-- Anything inside blck content can be edited -->
Put anycode in here
{% if user.is_authenticated %}

IF the user is logged in enter code here
  <h1>Hi {{ user.username }}!</h1>
  Your email is {{ user.email }}  <!-- This is the correct email, and shows access to the database -->
  and your Score is {{ user.profile.score }}  <!-- This is encrypted but shows access to the database -->
  <p><a href="{% url 'game:index' %}">Game</a></p>
{% else %}
Enter Code below this line for IF the user is not logged in
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>

Enter Code above this line for if the user is not logged in
{% endif %}
  <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">Tesiting</a>
Put anycode in here
{% endblock %}