<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}


	<div class="head">
		<p class="title">New Account</p>
		<p class="title1">Not our registered customer yet?</p>
			<!-- <h4> </br> Not our registered customer yet?</strong></h4> -->
	</div>

    <div class="login">
      <div class="login-box">
        <div class="login_form">
          <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
              <button type="submit" class="button" style="font-size: 10px;">Sign up</button>
          </form>
        </div>
      </div>
    </div>


{% endblock %}
