h1 a, h2 a {
    color: #C25100;
}

/*universal */

body {
    padding-top: 0px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
            margin-bottom: 10px;
    }
}


/* typography */

h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

h1 {
    font-size: 48px;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 17px;
    line-height: 27px;

}
.main-p{
    margin: auto;
    width: 20%
}
.login{
    width: 100%;
}
.login-box{
    width: 100%;
    margin-left: 30%;
}
#btnLogin{
    position: absolute;
    left: 50%;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}



/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #555;
    color: $gray-light;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }


}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing
}

/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 17px;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box-sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}


/* Aaron's CSS file START */

.container{
	background-color:black;
	opacity:0.5;
	width:100%;
	margin:0px;
}
#before_login_p{
	text-align: center;
	height:40px;
}
#before_login_h{
	font-size:28px;
	color:#fff;
}
#before_login_p span{
	display:inline-block;
	width:70px;
	height:40px;
	text-align: center;
	line-height: 40px;
}
#before_login_p a{
font-size:25px;
color:#fff;
opacity:0.3;
transition:all 1s ease;
}
#before_login_p a:hover{
	color:#fff;
	opacity:1;
	text-decoration: none;
}

#after_login_div_left{
	display:inline-block;
	width:300px;
	height:80px;
}
#user_avatar{
	width:100px;
	height:80px;
	border-radius:50%;
	border:2px solid blue;
	display: inline-block;
}
#user_avatar img{
	width:100%;
	height:100%;
}
#user_name{
	display:inline-block;
	font-size:20px;
	margin-left:20px;
	color:#fff;
	opacity:0.7;
}
#after_login_div_right{
	display:inline-block;
	float:right;
	height:80px;
	line-height: 80px;
	color:#fff;
	font-size:20px;
}
#user_score{
	display:inline-block;
	width:170px;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;
}
#user_information{
	display: inline-block;
	width:200px;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;
}
#user_logout{
	display:inline-block;
	width:120px;
	text-align: center;
}
#user_logout a{
	color:#fff;
	text-decoration: none;
	opacity: 0.7;
	display:inline-block;
	height:80px;
	width:120px;
	transition: all 1s ease;
}
#user_score:hover, #user_information:hover, #user_logout a:hover{
	opacity: 1;
	cursor:pointer;
}




#footer{
	background-color:#e0e0e0;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-bottom:50px;
    padding-top:30px;
    margin-top: 10px;
}

#footer_div{
	width:70%;
}

#footer_left_ul, #footer_middle_ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}


/*#footer_left_ul li{
	display:inline-block;
}*/
#footer_left,#footer_right{
	width:30%;
	float:left;
}

#footer h2{
	margin:0px 0px 10px 0px;
	font-size:24px;
	text-align: left;
}
#footer_left_ul a{
	color:#919191;
}

#footer_middle{
	float:left;
	width:40%;
}

.footer_middle_icon{
	display:inline-block;
	width:27px;
	height:27px;
	background-color: rgb(59,62,68);
	line-height: 27px;
	text-align: center;
	border-radius:3px;
}
.footer_middle_icon img{
	margin-top:2px;
}
#footer_middle_ul li{
	margin-bottom:10px;
}
.footer_right_icon{
	display:inline-block;
	margin-right:10px;
	width:35px;
	height:35px;
	background-color:rgb(68,68,68);
	text-align: center;
	vertical-align: middle;
	border-radius:50%;
}
.footer_right_icon img{
	width:50%;
	height:50%;
	margin-top:7px;
}

/*this css style is used to control the style of the stay in touch part*/
@keyframes shake{
	from,to{
		transform: translate3d(0,0,0);
	}

	10%,30%,50%,70%,90%{
		transform:translate3d(-10px, 0 , 0);
		-webkit-transform:translate3d(-10px, 0 , 0);/* chrome and safari*/
		-moz-transform:translate3d(-10px, 0 , 0); /*firefox*/
	}

	20%,40%,60%,80%{
		transform:translate3d(10px, 0, 0);
		-webkit-transform:translate3d(10px, 0 , 0);
		-moz-transform:translate3d(10px, 0 , 0);
	}
}
@-webkit-keyframes shake{
	from,to{
		transform: translate3d(0,0,0);
	}

	10%,30%,50%,70%,90%{
		transform:translate3d(-10px, 0 , 0);
		-webkit-transform:translate3d(-10px, 0 , 0);/* chrome and safari*/
		-moz-transform:translate3d(-10px, 0 , 0); /*firefox*/
	}

	20%,40%,60%,80%{
		transform:translate3d(10px, 0, 0);
		-webkit-transform:translate3d(10px, 0 , 0);
		-moz-transform:translate3d(10px, 0 , 0);
	}
}
@-moz-keyframes shake{
	from,to{
		transform: translate3d(0,0,0);
	}

	10%,30%,50%,70%,90%{
		transform:translate3d(-10px, 0 , 0);
		-webkit-transform:translate3d(-10px, 0 , 0);/* chrome and safari*/
		-moz-transform:translate3d(-10px, 0 , 0); /*firefox*/
	}

	20%,40%,60%,80%{
		transform:translate3d(10px, 0, 0);
		-webkit-transform:translate3d(10px, 0 , 0);
		-moz-transform:translate3d(10px, 0 , 0);
	}
}

.match{
	position:relative;
	animation:shake 1s infinite;
    -moz-animation:shake 1s infinite; /* Firefox */
    -webkit-animation:shake 1s infinite; /* Safari and Chrome */
}

.background1{
	background-color:rgb(52,72,152);
}
.background2{
	background-color:rgb(75,193,250);
}
.background3{
	background-color:rgb(191,43,101);
}
.background4{
	background-color:rgb(161,28,33);
}
.background5{
	background-color:rgb(60,110,54);
}



/*Aaron's about us css file below*/
#video_display{
    width:90%;
    height:400px;
    position:relative;
    margin-right: auto;
    margin-left:auto;
   /* border-radius: 10px;*/

}
#video_display h3{
    position:absolute;
    left:20%;
    top:40%;
    font-size:50px;
    color:white;
    /*margin-left: auto;
    margin-right: auto;*/
    font-family: "helvetica neue", tahoma, "PingFang SC", "microsoft yahei", arial, "hiragino sans gb", sans-serif;
}

#about_us_information{
    /*display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;*/
    text-align: center;
    margin-top:50px;


}
#about_us_information h1{
    color:rgb(1,44,2000);
    /*text-transform: uppercase;*/
    width:70%;
    display: block;
    font-family:"Times New Roman",Georgia,Serif;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    margin-top:0px;
}
#about_us_details{
    width:70%;
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

#about_us_block{
    width:1120px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
    margin-top:80px;
}
#about_us_block>div{
    width:320px;
    height:500px;
    float:left;
    margin-right:30px;
    margin-left:20px;
}

#about_us_block1{
    /*float:left;*/
    position:relative;
}
#about_us_block2{
    /*float:left;*/
    position:relative;
}
#about_us_block3{
    /*float:right;*/
    position:relative;
}
#about_us_block1_info{
    position: absolute;
    top:200px;
    left:50px;
    color:white;
    font-size:20px;
    font-family:"Times New Roman",Georgia,Serif;

}
#about_us_block2_info{
    position: absolute;
    top:200px;
    left:35px;
    color:white;
    font-size:24px;
    font-family:"Times New Roman",Georgia,Serif;
}
#about_us_block3_info{
    position: absolute;
    top:200px;
    left:120px;
    color:white;
    font-size:20px;
    font-family:"Times New Roman",Georgia,Serif;

}
#about_us_block1_background{
    background-image:linear-gradient(black 0%, white 50%, black 100%);
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0.2;
    transition: all 1s ease;
}
#about_us_block2_background{
    background-image:linear-gradient(black 0%, white 50%, black 100%);
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0.2;
    transition: all 1s ease;
}
#about_us_block3_background{
    background-image:linear-gradient(black 0%, white 50%, black 100%);
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0.2;
    transition: all 1s ease;
}
.about_us_img{
    width:100%;
    height:100%;
    /*opacity:0.7;*/
}
/* Aaron's about us.html CSS file END */



/* Aaron's faq.html CSS file Start */
/*#faq_content{
    overflow: hidden;
    width:90%;
    margin-left:auto;
    margin-right: auto;
}
#faq_left_content{
    width:60%;
    float:left;
}
#faq_right_content{
    width:40%;
    float:left;

}
#faq_right_content img{
    width:100%;
}
#faq_left_content h2{
    text-align: left;
    font-size:32px;
    margin-bottom:20px;
}
.faq_left_contents{
    width:90%;
    background-color:blue;
    border-radius: 14px;
    border:1px solid gray;
    margin-bottom:30px;
    padding:0 20px;
}
.faq_left_contents p{
    text-indent: 2em;
}*/
#faq_left_content{
    width:60%;
    margin-right: auto;
    margin-left:auto;
    margin-top:60px;
}
#faq_left_content h2{
    text-align: left;
    font-size:32px;
    margin-bottom:30px;
}
.faq_left_contents{
    width:100%;
    background-color:orange;
    border-radius: 14px;
    border:1px solid gray;
    margin-bottom:30px;
    margin-left:auto;
    margin-right: auto;
    padding:0 20px 20px 20px;
}
.faq_left_contents p{
    text-indent: 2em;
}

#faq_right_content{
    width:90%;
    margin-right: auto;
    margin-left:auto;
    margin-top:100px;
    padding:0px 130px;
    position: relative;
    /*border-radius: 10px;*/
}
#faq_right_content img{
    width:100%;
    height:50%;
    border-radius: 10px;
}
#faq_right_img{
    position:absolute;
    right:-10px;
    top:-60px;
    width:350px;
    height:400px;
}
#faq_left_img1{
    position:absolute;
    left:70px;
    top:300px;
    width:150px;
}
#faq_left_img1 img{
    width:100%;
}
#faq_left_img2{
    position:absolute;
    right:50px;
    top:320px;
    width:200px;
}
#faq_left_img2 img{
    width:100%;
}
/* Aaron's faq.html CSS file END */






/* Aaron's CSS file END */


/* Teng's CSS file Start */
.header_title{
    margin-top: -60px;
}

html,body {
    height: 100%;
	width: 100%;
	background: url(../pic/main_background.png);
	background-size: 100% 100%;
	margin: 0;
	/* overflow: auto; */
}

.head1{
        width: 272px;
        margin: 0 auto;
         margin-top: 55px;

}
.head{
        width: 300px;
        margin: 0 auto;
         /* margin-top: -80px; */
         color: black;

}
h3{
    text-align: center;
}
.btn{
  width: 50%
}
.btn_count{
    width: 100px;
    margin: auto;
}
.btn_count button{
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #C9C2CB;
    margin-top: 40px;
}
.title{
    font-size: 31px;
    margin: 0;
}
.title1{
    font-size: 16px;
    font-weight: 1000;
}
.web_login {

    position:relative;

}

.web_login .login_form {
    width:272px;
    margin:0 auto;
    margin-top: 12px;
}

.web_login .input-tips {
    float:left;
    margin-top:10px;
    width:50px;
    height:42px;
    font-size:16px;
    line-height:42px;
}
.web_login .inputOuter {
    width:200px;
    height:42px;
    margin-top:10px;
    float:left;

}
.web_login .inputOuter1
{
    font-size: 30px;
    width:200px;
    height:30px;
    /* margin-top:10px; */
    /*float:left;*/
}
.web_login .inputstyle {
    width:200px;
    height:25px;
    padding-left:5px;
    line-height:30px;line-height:38px;
    border:1px solid #D7D7D7;

    color:#333;border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled;
}

.web_login .uinArea {
    height:55px;
    position:relative;
    z-index:10;
}
.uinArea1 {
    height:40px;
    position:relative;
    z-index:10;
}
.web_login .pwdArea {
    height:55px;
    margin-bottom:10px;
    position:relative;
    z-index:3;
}
/* .login {
    background-color:black;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    /* background-color:rgba(255,255,255,0.2); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    /* border-radius: 20px;
    padding:5px 0;
    width:370px;

    border-bottom:none;
    position:relative;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
} */

.web_login{padding-bottom:20px;}

.web_login .reg_form {
    width: 300px;
    margin: 0 auto;
}

.web_login .input-tips2 {
    padding-right: 5px;
    width: 80px;_width: 75px;_font-size:12px;}
.button_blue
{
    display:inline-block;
    color: #3D3D3D;
    /* margin-left: 56px; */
    height:41px;
    /* border-radius:4px; */
    background:#AAAAAA;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    /* border-bottom:3px solid #0078b3;*border-bottom:none; */
    /* color:#fff; */
    font-size:16px;
    width: 100px;
    text-align:center;outline:none;
    font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.she3 {
	position:fixed;
	background-color: rgba(131, 182, 227, 0.8);
	top:50%;
	left:50%;
	width:30%;
	height:55%;
	margin:-10% 0 0 -15%;
	border-radius:5px;
	background-color : #fff;
	display:none ;
	z-index: 999;
}
.zhi3 {
	padding:12px;
	position: relative;
}
.home{
    width: 100%;
}
.home_title{
    position: absolute;width:400px;height:200px;left:45%;top:50%;
     margin: auto
}
.Login{
    text-decoration:none;
    font-size: 40px;

}
.Register{
    text-decoration:none;
    font-size: 40px;

}
.span_x{
    font-size: 40px;
}
.main{
    text-align: center;
}
.home_main{
    height: 86%;
}
.login1{
    font-size: 50px;
    color: black;
    display: inline-block;
}
.home_cent{
position: absolute;
top: 50%;
left: 40%;
}
.login{
    font-size: 30px;
    color: black;
    display: inline-block;
    /* margin-top: 50px; */
}
.home_one{
    position: absolute;
    top: 38%;
    left: 38%;
}
.login:hover{
    text-decoration:none !important;
}
.signup{
    font-size: 50px;
    color: black;
}
.signup:hover{
    text-decoration:none !important;
}

.span_line{
    font-size: 50px;
    color: black;
}
.span_login_title{
    color: white;
}
.span_login_login{
    color: white;
}
.span_login_login1{
    color: white;
}
#id_username{
    width: 50%;
}
#id_password{
    width: 50%;
}
.login_form #id_username{
    width: 20%;
    color: black;
}
.login_form p:nth-child(2){
    margin-left: 25px;
}
.login_form p:nth-child(4){
    margin-left: 33px;
}
.login_form p:nth-child(7){
    margin-left: -65px;
}
label{
    color: black;
}
#id_email{
    width: 19%;
    color: black;
}
#id_password1{
    width: 20%;
    color: black;
}
#id_password2{
    width: 17%;
    color: black;
}
.helptext{
    display: none
}
.login_form form ul li{
    font-size: 20px;
    list-style-type: none;
    text-align: left;
}
.button{
        display: inline-block;
        border-radius: 5px;
        margin-left: 145px;
        background-color: #ce9a2b;
        text-align: center;
        font-weight: bold;
        padding: 10px 40px;
        color: #fff;
        outline: none;
        text-decoration: none;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 3px #7a5b19, 0px 4px #6d5117, 0px 5px #604814, 0px 6px #543f11, 0px 7px #47350f, 0px 8px #36280b, 0px 12px 6px -1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 3px rgba(252, 252, 252, 0.6);
        -webkit-box-shadow: 0px 3px #7a5b19, 0px 4px #6d5117, 0px 5px #604814, 0px 6px #543f11, 0px 7px #47350f, 0px 8px #36280b, 0px 12px 6px -1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 3px rgba(252, 252, 252, 0.6);
        box-shadow: 0px 3px #7a5b19, 0px 4px #6d5117, 0px 5px #604814, 0px 6px #543f11, 0px 7px #47350f, 0px 8px #36280b, 0px 12px 6px -1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 3px rgba(252, 252, 252, 0.6);
        border: solid 1px #7a5b19;
        background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.14));
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.14));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.14), rgba(255, 255, 255, 0.14));
        -moz-transition: -moz-transform 100ms, box-shadow 100ms, background-color 200ms, color 200ms;
        -o-transition: -o-transform 100ms, box-shadow 100ms, background-color 200ms, color 200ms;
        -webkit-transition: -webkit-transform 100ms, box-shadow 100ms, background-color 200ms, color 200ms;
        transition: transform 100ms, box-shadow 100ms, background-color 200ms, color 200ms;
}
.button:active {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
/* Teng's CSS file END */

