<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
{% block title %}detail{% endblock %}

{% block content %}
<div id="detail_total_div">
    <!-- <h2>The Category for this question is {{ question.category_text }}</h2> -->
    <h1 id="detail_h2_choose">Choose what you think is true</h1>
    <div id="detail_question_text">
        <h3>Question:</h3>
        <p>{{ question.question_text }}</p>

    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <hr id="detail_hr">

    <h3 id="detail_answer_text">Answer:</h3>
    <div id="detail_answer_div">
    <form action="{% url 'game:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <div class="detail_form_div"><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="detail_answers">
        <label for="choice{{ forloop.counter }}" class="detail_labels_of_answers">{{ choice.choice_text }}</label><br>
    </div>
    {% endfor %}
    <input type="submit" value="Vote" id="detail_submit_input">
    </form>
   </div>
</div>

{% endblock %}